<nav class="navbar" style="background-color :#464646">

    <div class="m-2">
        <a href="/">
            <img src="/static/img/logo.png" alt="Logo" height="100">
        </a>
    </div>

    <h2>
        Seccia Assets Store
    </h2>
    {% if userSession is defined %}
    <div>
        <a href="/" id="store" class="btn btn-custom m-3">Store</a>
        <a href="/libraries" id="libraries" class="btn btn-custom m-3">My libraries</a>
        <a href="/profile" id="profile" class="btn btn-custom m-3">
            {% if userSession.image|length > 0 %}
            <td><img src="./media/profile/{{userSession.image}}.png" alt="image" height="50"></td>
            {% else %}
            <td><img src="./static/img/profile.png" alt="image" height="50"></td>
            {% endif %}
        </a>
    </div>
    {% else %}
    <div>
        <a href="/store" id="store" class="btn btn-custom m-3">Store</a>
        <a href="/inscription" id="inscription" class="btn btn-custom m-3">Inscription</a>
        <a href="/login" id="login" class="btn btn-custom m-3">Login</a>
    </div>
    {% endif %}

</nav>