<nav class="navbar" style="background-color :#464646">

    <div class="m-2">
        <a href="/">
            <img src="..\static\img\logo.png" alt="Logo" height="100">
        </a>
    </div>

    <h2>
        Seccia Assets Store
    </h2>

    {% if index == true %}
    <a href="/inscription">
        <button id="inscription" class="btn btn-custom m-3">Inscription</button>
    </a>
    {% else %}
    <div>  
    </div>
    {% endif %}

</nav>