<nav class="navbar" style="background-color :#464646">

    <div class="m-2">
        <a href="/">
            <img src="..\static\img\logo.png" alt="Logo" height="100">
        </a>
    </div>

    <h2>
        Seccia Assets Store
    </h2>
    {% if userSession is defined %}
    <a href="/profile">
        <button id="profile" class="btn btn-custom m-3">Profile</button>
    </a> 
    {% elseif index == true %}
    <div>
        <a href="/inscription" id="inscription" class="btn btn-custom m-3">Inscription</a>
        <a href="/login" id="login" class="btn btn-custom m-3">Login</a>
    </div>
    {% else %}
    <div>  
    </div>
    {% endif %}

</nav>