<!doctype html>
<html lang="en">
  <head>
    <title>InscriptionCreator</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24">

    {% include 'header.html.twig' %}

    <main>
      <div class="my-5 modal position-static d-block" tabindex="-1" role="dialog" id="modalSignup">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-5 border-0">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h2 class="fw-bold mb-0">Inscription Creator</h2>
            </div>
            <div class="modal-body p-5 pt-0">
              <form class="" action="/register" method="post" enctype="multipart/form-data">
                <!-- Nom -->
                <div class="form-floating mt-3">
                  <input class="form-control" name="username" type="text" placeholder="JohnDoe" required>
                  <label for="username">Nom d'utilisateur</label>
                </div>
                <!-- Mail -->
                <div class="form-floating mt-3"> 
                  <input class="form-control" name="email" type="email" placeholder = "mail@example.com" required>
                  <label for="username">Email</label>
                </div>
                <!-- Mdp -->
                <div class="form-floating mt-3">
                  <input class="form-control rounded-4" name="password" type="password" placeholder="mdp" required>
                  <label for="password">Mot de passe</label>
                </div>
                <!-- Mdp Again -->
                <div class="form-floating mt-3">
                    <input class="form-control" name="repassword" type="password" placeholder="mdp" required>
                    <label for="repassword">Confirmez le mot de passe</label>
                </div>
                <!-- image -->
                <div class="form-group mt-3">
                  <label for="input-image" class="input-label-img d-flex">
                    <input name="image" type="file" accept="image/png, image/jpg, image/gif, image/jpeg"/>
                    <span>Image de profil </span>
                  </label>
                  <!-- {# <label class="" for="image">Image</label>
                  <input class="form-control" name="image"  type="file"> #} -->
                </div>
                <!-- submit -->
                <button class="w-100 mt-3 mb-3 btn btn-lg rounded-4 btn-primary" type="submit">S'inscrire</button>
                <!-- Login -->
                <a href="/forgotpassword" class="color-hover">Mot de passe oublié ?</a><br>
                <a href="/login" class="color-hover">Se connecter</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    
  </body>

</html>