<!doctype html>
<html lang="en">
  <head>
    <title>Profile</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24; color:white">
  
    {% include 'header.html.twig' %}

    <div class="m-3">
        <a href="index.html">
            <button class ="btn btn-primary">Retour</button>
        </a>
    </div>
    
  </body>
</html>