<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CDA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="..\scripts\main.js" type="module"></script>
  </head>

  <body class="" style="background-color :#1C1F24; color:white">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <nav class="navbar" style="background-color :#464646">
        <div class="m-2">
            <img src="..\static\img\logo.png" alt="Logo" height="100">
        </div>
        <h2 class="" style="">
            Seccia Assets Store
        </h2>

        <a href="inscription.html">
          <button id="inscription" class="btn btn-primary m-3">Inscription</button>
        </a>


        <!-- <a href="profile.html">
          <button id="myAccount" class="btn btn-primary m-3">monCompte</button>
        </a> -->
    </nav>

    <main >
      <h1 class ="m-3">Hello, world!</h1>
    </main>
    

  </body>

</html>