<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>

<body>
    <h2> Welcome </h2>
    <p>To confirm your account, click on the link bellow :</p>
    <a href="localhost/validate/{{id}}">ValidateMyAccount</a>
</body>

</html>