<!doctype html>
<html lang="en">
  <head>
    <title>InscriptionUser</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24; color:white">

    {% include 'header.html.twig' %}

    <main>
      <h1 class="d-flex justify-content-center" style=" padding-top:5%; font-weight: 700; font-size:400%;">Create an User Account : PERSO</h1>

      <div class="d-flex justify-content-center" style=" padding-top:5%;">
        <form class="" action="/inscriptionUser" method="post" >
        
          <table >
            <tr>
                <td class ="p-2">
                  <div class="form-floating mt-3">
                    <input class="form-control" name="email" type="text" placeholder="email" required>
                    <label style="color: gray;" for="email">Email</label>
                  </div>
                </td>
                <td>
                  <div class="form-floating mt-3">
                    <input class="form-control" name="password" type="text" placeholder="password" required>
                    <label style="color: gray;" for="password">Password</label>
                  </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                  <div class="form-floating mt-1">
                    <input class="form-control" name="repassword" type="text" placeholder="repassword" required>
                    <label style="color: gray;" for="repassword">Confirm password</label>
                  </div>
                </td>
            </tr>
          </table>
          {% if message is defined %}
          <div class="d-flex justify-content-center mt-3" style="color:red">           
            <p>{{message}}</p>
          </div>
          {% endif %}
          <div class="d-flex justify-content-center mt-3">
            <input class="form-check-input me-2" type="checkbox" value="" aria-label="Checkbox for following text input" required>
            <p>I have read and accept the terms of service</p>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-custom" type="submit">Create account</button>
          </div>
        </form>
      </div>

    </main>
    
  </body>

</html>